body {
  font-family: gotham rounded, sans-serif;
}

.jumbotron {
  padding-top: 6rem;
  background-color: #e2edff;
}

#articles {
  background-color: #e2edff;
}

section {
  padding-top: 5rem;
}

#contact {
  background-color: #e2edff;
}

myarticle {
  height: 268px;
}
